.IndexContent {
    width: 950px;
    height: auto;
    background-color: #ff00dc;
    border-top-right-radius: 20px;
}

ul li{
    color:#ffffff;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background-color: black;
}