USE [master]
GO
/****** Object:  Database [Cinema]    Script Date: 13.12.2019 22:29:57 ******/
CREATE DATABASE [Cinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Cinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Cinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Cinema_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema]
GO
USE [Cinema]
GO
/****** Object:  User [ilker]    Script Date: 13.12.2019 22:29:57 ******/
CREATE USER [ilker] FOR LOGIN [ilker] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ilker]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [ilker]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [ilker]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ilker]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ilker]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ilker]
GO
/****** Object:  Schema [cin]    Script Date: 13.12.2019 22:29:57 ******/
CREATE SCHEMA [cin]
GO
/****** Object:  Schema [reg]    Script Date: 13.12.2019 22:29:57 ******/
CREATE SCHEMA [reg]
GO
/****** Object:  Schema [vip]    Script Date: 13.12.2019 22:29:57 ******/
CREATE SCHEMA [vip]
GO
/****** Object:  UserDefinedFunction [reg].[getDirectorOfMovie]    Script Date: 13.12.2019 22:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [reg].[getDirectorOfMovie](@movie nvarchar(30))
returns nvarchar(90)
as
begin
	declare @director as nvarchar(90)	
	declare @id as int 
	select @id = [Director] from [reg].[Movies]
	where [title] = @movie
	select @director = ([firstName]+' '+[lastName]) from [reg].[Director]
	where [ssn] = @id
	return @director
end;
GO
/****** Object:  UserDefinedFunction [reg].[NumOfEmpAtCinema]    Script Date: 13.12.2019 22:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [reg].[NumOfEmpAtCinema](@cinemaName nvarchar(25))
returns int
as
begin
	declare @cinemaID as int
	select @cinemaID = [id] from [reg].[Cinemas]
	where [title] = @cinemaName
	declare @ret as int
	select @ret = count([SSN]) from [reg].[Staff]
	where [CinemaID] = @cinemaID
	return @ret
end
GO
/****** Object:  UserDefinedFunction [vip].[NumOfVIP_Saloon]    Script Date: 13.12.2019 22:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
create function reg.NumOfEmpAtCinema(@cinemaName nvarchar(25))
returns int
as
begin
	declare @cinemaID as int
	select @cinemaID = [id] from [reg].[Cinemas]
	where [title] = @cinemaName
	declare @ret as int
	select @ret = count([SSN]) from [reg].[Staff]
	where [CinemaID] = @cinemaID
	return @ret
end

print [reg].[NumOfEmpAtCinema]('Forum Bornova')*/

create function [vip].[NumOfVIP_Saloon](@cinema nvarchar(25))
returns int 
as
begin
	declare @cinemaID as int
	select @cinemaID = [id] from [reg].[Cinemas]
	where [title] = @cinema
	declare @ret as int
	select @ret = count([Room_id]) from [vip].[Saloon]
	where [CinemaID] = @cinemaID
	return @ret	
end
GO
/****** Object:  Table [reg].[Movies]    Script Date: 13.12.2019 22:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[Movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](30) NOT NULL,
	[duration] [time](7) NOT NULL,
	[lang] [nvarchar](15) NOT NULL,
	[caption] [nvarchar](15) NULL,
	[genre] [nvarchar](15) NOT NULL,
	[vision_date] [date] NOT NULL,
	[Director] [int] NOT NULL,
	[img] [nvarchar](max) NULL,
	[ticketPrice] [decimal](5, 2) NULL,
	[ticketPriceVAT] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [reg].[Artist]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[Artist](
	[ssn] [decimal](6, 0) NOT NULL,
	[age] [int] NOT NULL,
	[firstName] [nvarchar](20) NOT NULL,
	[lastName] [nvarchar](20) NOT NULL,
	[Movie] [int] NOT NULL,
	[salary] [decimal](7, 2) NULL,
	[img] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [reg].[MoviesAndArtists]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [reg].[MoviesAndArtists]
as
select ([firstName]+' '+[lastName]) as FullName,
[title] as Movie,
[Movie] as MovieID
from [reg].[Artist] as A
right join [reg].[Movies] as M on M.id = A.Movie
where [Movie] is not null /*some movies does not have any artist*/
GO
/****** Object:  View [reg].[MoviesWithSubtitles]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [reg].[MoviesWithSubtitles]
as
select [title] as Movie,[caption],[lang]
from [reg].[Movies]
where [caption] is not null
GO
/****** Object:  Table [reg].[Buffet]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[Buffet](
	[buffetID] [int] NOT NULL,
	[SugarStock(kg)] [decimal](4, 1) NOT NULL,
	[SaltStock(kg)] [decimal](4, 1) NOT NULL,
	[CornStock(pack)] [int] NOT NULL,
	[ColaStock(can)] [int] NOT NULL,
	[NumberOfEmp] [int] NOT NULL,
	[managerNo] [decimal](5, 0) NOT NULL,
	[CinemaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[buffetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reg].[Staff]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[Staff](
	[SSN] [decimal](5, 0) NOT NULL,
	[firstName] [nvarchar](20) NOT NULL,
	[lastName] [nvarchar](20) NOT NULL,
	[department] [nvarchar](20) NOT NULL,
	[salary] [decimal](6, 2) NOT NULL,
	[startDate] [date] NOT NULL,
	[age] [int] NOT NULL,
	[CinemaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [reg].[ManagersOfBuffets]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [reg].[ManagersOfBuffets]
as
select  [buffetID],		
		[SSN],
		([firstName]+' '+[lastName]) as FullName
from [reg].[Buffet] as B
right join [reg].[Staff] as S on S.SSN = B.managerNo
where [managerNo] is not null
GO
/****** Object:  View [reg].[StaffOnBuffetDep]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [reg].[StaffOnBuffetDep]
as
select ([firstName]+' '+[lastName]) as FullName,
		[department]
from [reg].[Staff]
where [department]='Buffet'
GO
/****** Object:  View [reg].[StaffOnSaloonDep]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [reg].[StaffOnSaloonDep]
as
select ([firstName]+' '+[lastName]) as FullName,
		[department]
from [reg].[Staff]
where [department]='Saloon'
GO
/****** Object:  Table [cin].[ANKAmall]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cin].[ANKAmall](
	[movieID] [int] NOT NULL,
	[movieSession] [time](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [reg].[MoviesAndSessionsOfANKAmall]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [reg].[MoviesAndSessionsOfANKAmall]
as
select  [title] as Movie,
		[movieSession]
from [cin].[ANKAmall] as AM
right join [reg].[Movies] as M on M.id = AM.movieID
where [movieSession] is not null
GO
/****** Object:  Table [cin].[AquaFlorya]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cin].[AquaFlorya](
	[movieID] [int] NOT NULL,
	[movieSession] [time](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [reg].[MoviesAndSessionsOfAquaFlorya]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [reg].[MoviesAndSessionsOfAquaFlorya]
as
select  [title] as Movie,
		[movieSession]
from [cin].[AquaFlorya] as AF
right join [reg].[Movies] as M on M.id = AF.movieID
where [movieSession] is not null
GO
/****** Object:  Table [cin].[ForumBornova]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cin].[ForumBornova](
	[movieID] [int] NOT NULL,
	[movieSession] [time](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [reg].[MoviesAndSessionsOfForumBornova]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [reg].[MoviesAndSessionsOfForumBornova]
as
select  [title] as Movie,
		[movieSession]
from [cin].[ForumBornova] as FB
right join [reg].[Movies] as M on M.id = FB.movieID
where [movieSession] is not null
GO
/****** Object:  Table [reg].[Director]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[Director](
	[ssn] [int] NOT NULL,
	[firstName] [nvarchar](45) NOT NULL,
	[lastName] [nvarchar](45) NOT NULL,
	[age] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [reg].[DirectorAndMovie]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [reg].[DirectorAndMovie]
as 
select ([firstName] + ' '+[lastName]) as FullName,[title] as Movie
from [reg].[Director] as d
inner join [reg].[Movies] as m 
on m.Director = d.ssn
GO
/****** Object:  View [cin].[ANKAmallStaff]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [cin].[ANKAmallStaff]
as
select ([firstName]+' '+[lastName]) as FullName
from [reg].[Staff]
where [CinemaID] = 3
GO
/****** Object:  View [cin].[AquaFloryaStaff]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [cin].[AquaFloryaStaff]
as
select ([firstName]+' '+[lastName]) as FullName
from [reg].[Staff]
where [CinemaID] = 1
GO
/****** Object:  View [cin].[ForumBornovaStaff]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [cin].[ForumBornovaStaff]
as
select ([firstName]+' '+[lastName]) as FullName
from [reg].[Staff]
where [CinemaID] = 2
GO
/****** Object:  Table [reg].[UserFavMovie]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[UserFavMovie](
	[UserID] [int] NOT NULL,
	[MovieID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [reg].[UserInfo]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[UserInfo](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](15) NOT NULL,
	[passwd] [nvarchar](20) NOT NULL,
	[realName&Surname] [nvarchar](50) NOT NULL,
	[phoneNumber] [decimal](10, 0) NULL,
	[Sex] [char](1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [reg].[UserAndFavMovie]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [reg].[UserAndFavMovie]
as
select [realName&Surname] as FullName,[title] as Movie
from [reg].[UserInfo] as u
inner join [reg].[UserFavMovie] as ufm
on u.userID = ufm.UserID
inner join [reg].[Movies] as m
on m.id = ufm.MovieID
GO
/****** Object:  Table [reg].[CommentAndRate]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[CommentAndRate](
	[userID] [int] NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[rate] [decimal](2, 1) NOT NULL,
	[movieID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [reg].[UsersCommentsAndRates]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [reg].[UsersCommentsAndRates]
as
select USR.[realName&Surname] as FullName,CR.[comment],CR.[rate],MOV.title as Movie
from [reg].[CommentAndRate] as CR
inner join [reg].[UserInfo] as USR
on CR.userID = USR.userID
inner join [reg].[Movies] as MOV
on MOV.id = CR.movieID
GO
/****** Object:  Table [cin].[TotalStaff]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cin].[TotalStaff](
	[NumOfEmp] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [reg].[Cinemas]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[Cinemas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](25) NOT NULL,
	[city] [nvarchar](20) NOT NULL,
	[address_] [nvarchar](max) NOT NULL,
	[NumOfEmp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [reg].[Images]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[Images](
	[Movie_id] [int] NOT NULL,
	[img] [image] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [reg].[People]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[People](
	[ssn] [int] NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[age] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reg].[Saloon]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reg].[Saloon](
	[Room_id] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Sound System] [nvarchar](20) NOT NULL,
	[Screen Size(inch)] [decimal](4, 1) NOT NULL,
	[CinemaID] [int] NOT NULL,
 CONSTRAINT [PK_reg.Saloon] PRIMARY KEY CLUSTERED 
(
	[Room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vip].[Saloon]    Script Date: 13.12.2019 22:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vip].[Saloon](
	[Room_id] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Double Bed] [int] NULL,
	[Single Bed] [int] NULL,
	[Vibrating Seat] [int] NULL,
	[Snack] [nvarchar](25) NOT NULL,
	[Sound System] [nvarchar](20) NOT NULL,
	[Screen Size(inch)] [decimal](4, 1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[img] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [cin].[ANKAmall] ([movieID], [movieSession]) VALUES (20, CAST(N'17:45:00' AS Time))
INSERT [cin].[ANKAmall] ([movieID], [movieSession]) VALUES (20, CAST(N'21:00:00' AS Time))
INSERT [cin].[ANKAmall] ([movieID], [movieSession]) VALUES (20, CAST(N'00:15:00' AS Time))
INSERT [cin].[AquaFlorya] ([movieID], [movieSession]) VALUES (20, CAST(N'17:30:00' AS Time))
INSERT [cin].[AquaFlorya] ([movieID], [movieSession]) VALUES (20, CAST(N'20:45:00' AS Time))
INSERT [cin].[AquaFlorya] ([movieID], [movieSession]) VALUES (25, CAST(N'21:45:00' AS Time))
INSERT [cin].[ForumBornova] ([movieID], [movieSession]) VALUES (20, CAST(N'17:40:00' AS Time))
INSERT [cin].[ForumBornova] ([movieID], [movieSession]) VALUES (20, CAST(N'21:15:00' AS Time))
INSERT [cin].[ForumBornova] ([movieID], [movieSession]) VALUES (20, CAST(N'23:30:00' AS Time))
INSERT [cin].[TotalStaff] ([NumOfEmp]) VALUES (38)
INSERT [reg].[Artist] ([ssn], [age], [firstName], [lastName], [Movie], [salary], [img]) VALUES (CAST(1010 AS Decimal(6, 0)), 39, N'Şahan', N'Gökbakar', 13, CAST(25000.00 AS Decimal(7, 2)), N'sahanGokbakar.jpg')
INSERT [reg].[Artist] ([ssn], [age], [firstName], [lastName], [Movie], [salary], [img]) VALUES (CAST(1011 AS Decimal(6, 0)), 47, N'Emre', N'Karayel', 18, CAST(27500.00 AS Decimal(7, 2)), N'emreKarayel.jpg')
INSERT [reg].[Artist] ([ssn], [age], [firstName], [lastName], [Movie], [salary], [img]) VALUES (CAST(1012 AS Decimal(6, 0)), 53, N'Şenay', N'Gürler', 18, CAST(20200.45 AS Decimal(7, 2)), N'senayGurler.jpg')
INSERT [reg].[Buffet] ([buffetID], [SugarStock(kg)], [SaltStock(kg)], [CornStock(pack)], [ColaStock(can)], [NumberOfEmp], [managerNo], [CinemaID]) VALUES (11, CAST(22.4 AS Decimal(4, 1)), CAST(10.4 AS Decimal(4, 1)), 264, 300, 3, CAST(1018 AS Decimal(5, 0)), 1)
INSERT [reg].[Buffet] ([buffetID], [SugarStock(kg)], [SaltStock(kg)], [CornStock(pack)], [ColaStock(can)], [NumberOfEmp], [managerNo], [CinemaID]) VALUES (12, CAST(14.7 AS Decimal(4, 1)), CAST(11.6 AS Decimal(4, 1)), 100, 49, 4, CAST(1019 AS Decimal(5, 0)), 1)
INSERT [reg].[Buffet] ([buffetID], [SugarStock(kg)], [SaltStock(kg)], [CornStock(pack)], [ColaStock(can)], [NumberOfEmp], [managerNo], [CinemaID]) VALUES (21, CAST(21.0 AS Decimal(4, 1)), CAST(15.0 AS Decimal(4, 1)), 124, 50, 4, CAST(10007 AS Decimal(5, 0)), 2)
SET IDENTITY_INSERT [reg].[Cinemas] ON 

INSERT [reg].[Cinemas] ([id], [title], [city], [address_], [NumOfEmp]) VALUES (1, N'Aqua Florya', N'İstanbul', N'Şenlikköy, Aqua Florya, Yeşilköy Halkalı Cd. No:93, 34153 Bakırköy/İstanbul', 12)
INSERT [reg].[Cinemas] ([id], [title], [city], [address_], [NumOfEmp]) VALUES (2, N'Forum Bornova', N'İzmir', N'FORUM BORNOVA AVM. KAZIM DİRİK MAH. 372 SOK, D:F1 BLOK, 35100 Bornova', 13)
INSERT [reg].[Cinemas] ([id], [title], [city], [address_], [NumOfEmp]) VALUES (3, N'ANKAmall', N'Ankara', N'Gazi Mevlana Bulvarı, Ankamall 2/242, 06330 Yenimahalle/Ankara', 13)
SET IDENTITY_INSERT [reg].[Cinemas] OFF
INSERT [reg].[CommentAndRate] ([userID], [comment], [rate], [movieID]) VALUES (1, N'Mükemmel bir filmdi beni içine çekti joaquin phoneix mükemmel oynamış çok cesur bir film arthur fleckin nasıl psikopat jokere dönüştüğünü anlatıyor', CAST(8.0 AS Decimal(2, 1)), 12)
INSERT [reg].[CommentAndRate] ([userID], [comment], [rate], [movieID]) VALUES (2, N'Hayatımda en çok içimi acıtan ağlata ağlata yüreğimi parçalayan mükemmel bir film. Filmi izlemeden önce yanınıza iki paket peçete alın , ağlamadan izlenmiyor', CAST(9.5 AS Decimal(2, 1)), 24)
INSERT [reg].[CommentAndRate] ([userID], [comment], [rate], [movieID]) VALUES (6, N'Tam bir hayal kırıklığı. Herkesin eleştirdiği zamanlarda bile ben Recep İvedik e hiç bir zaman laf söyletmeyen bir taraftarım ama bu sefer onu savunacak tek kelime bulamıyorum. Ne derece kötü olabilir görmek isterseniz gidin.', CAST(1.0 AS Decimal(2, 1)), 13)
INSERT [reg].[Director] ([ssn], [firstName], [lastName], [age]) VALUES (9, N'Tim', N'Miller', 49)
INSERT [reg].[Director] ([ssn], [firstName], [lastName], [age]) VALUES (10, N'Todd', N'Phillips', 48)
INSERT [reg].[Director] ([ssn], [firstName], [lastName], [age]) VALUES (11, N'Togan', N'Gökbakar', 35)
SET IDENTITY_INSERT [reg].[Movies] ON 

INSERT [reg].[Movies] ([id], [title], [duration], [lang], [caption], [genre], [vision_date], [Director], [img], [ticketPrice], [ticketPriceVAT]) VALUES (11, N'Terminatör: Kara Kader', CAST(N'02:01:02' AS Time), N'Orijinal', N'Türkçe', N'Aksiyon', CAST(N'2019-11-01' AS Date), 9, N'Terminator.jpg', CAST(30.00 AS Decimal(5, 2)), CAST(5.40 AS Decimal(5, 2)))
INSERT [reg].[Movies] ([id], [title], [duration], [lang], [caption], [genre], [vision_date], [Director], [img], [ticketPrice], [ticketPriceVAT]) VALUES (12, N'Joker', CAST(N'02:02:12' AS Time), N'Orijinal', N'Türkçe', N'Suç', CAST(N'2019-10-04' AS Date), 10, N'Joker.jpg', CAST(40.00 AS Decimal(5, 2)), CAST(7.20 AS Decimal(5, 2)))
INSERT [reg].[Movies] ([id], [title], [duration], [lang], [caption], [genre], [vision_date], [Director], [img], [ticketPrice], [ticketPriceVAT]) VALUES (13, N'Recep İvedik 6', CAST(N'01:50:02' AS Time), N'Türkçe', NULL, N'Komedi', CAST(N'2019-01-11' AS Date), 11, N'Recepİvedik.jpg', CAST(25.00 AS Decimal(5, 2)), CAST(4.50 AS Decimal(5, 2)))
SET IDENTITY_INSERT [reg].[Movies] OFF
INSERT [reg].[Saloon] ([Room_id], [Capacity], [Sound System], [Screen Size(inch)], [CinemaID]) VALUES (11, 100, N'Classic', CAST(350.5 AS Decimal(4, 1)), 1)
INSERT [reg].[Saloon] ([Room_id], [Capacity], [Sound System], [Screen Size(inch)], [CinemaID]) VALUES (12, 150, N'Classic', CAST(460.7 AS Decimal(4, 1)), 1)
INSERT [reg].[Saloon] ([Room_id], [Capacity], [Sound System], [Screen Size(inch)], [CinemaID]) VALUES (13, 130, N'Classic', CAST(350.5 AS Decimal(4, 1)), 1)
INSERT [reg].[Staff] ([SSN], [firstName], [lastName], [department], [salary], [startDate], [age], [CinemaID]) VALUES (CAST(0 AS Decimal(5, 0)), N'İlker', N'Aslan', N'Saloon', CAST(2200.00 AS Decimal(6, 2)), CAST(N'2019-11-10' AS Date), 21, 1)
INSERT [reg].[Staff] ([SSN], [firstName], [lastName], [department], [salary], [startDate], [age], [CinemaID]) VALUES (CAST(120 AS Decimal(5, 0)), N'Ferdi', N'Olkan', N'Saloon', CAST(2500.00 AS Decimal(6, 2)), CAST(N'2018-12-15' AS Date), 25, 3)
INSERT [reg].[Staff] ([SSN], [firstName], [lastName], [department], [salary], [startDate], [age], [CinemaID]) VALUES (CAST(150 AS Decimal(5, 0)), N'Berkun', N'Yetişkin', N'Saloon', CAST(2750.00 AS Decimal(6, 2)), CAST(N'2018-11-15' AS Date), 27, 3)
INSERT [reg].[UserFavMovie] ([UserID], [MovieID]) VALUES (1, 11)
INSERT [reg].[UserFavMovie] ([UserID], [MovieID]) VALUES (1, 12)
INSERT [reg].[UserFavMovie] ([UserID], [MovieID]) VALUES (1, 22)
SET IDENTITY_INSERT [reg].[UserInfo] ON 

INSERT [reg].[UserInfo] ([userID], [userName], [passwd], [realName&Surname], [phoneNumber], [Sex], [DateOfBirth]) VALUES (1, N'kilincarslan98', N'176515', N'İlker Kılınçarslan', CAST(5333128574 AS Decimal(10, 0)), N'M', CAST(N'1998-08-15' AS Date))
INSERT [reg].[UserInfo] ([userID], [userName], [passwd], [realName&Surname], [phoneNumber], [Sex], [DateOfBirth]) VALUES (2, N'isillalici', N'123456isiL', N'Işıl Alıcı', NULL, N'F', CAST(N'1998-11-30' AS Date))
INSERT [reg].[UserInfo] ([userID], [userName], [passwd], [realName&Surname], [phoneNumber], [Sex], [DateOfBirth]) VALUES (3, N'tevfiksc', N'Tevfo123', N'Tevfik Tayyip Saraç', CAST(5342179857 AS Decimal(10, 0)), N'M', CAST(N'1998-11-12' AS Date))
SET IDENTITY_INSERT [reg].[UserInfo] OFF
INSERT [vip].[Saloon] ([Room_id], [Capacity], [Double Bed], [Single Bed], [Vibrating Seat], [Snack], [Sound System], [Screen Size(inch)], [CinemaID], [img]) VALUES (110, 50, 10, 15, 15, N'Peynirli Sandviç', N'Sub-woofer', CAST(497.6 AS Decimal(4, 1)), 1, N'SingleBed.jpg')
INSERT [vip].[Saloon] ([Room_id], [Capacity], [Double Bed], [Single Bed], [Vibrating Seat], [Snack], [Sound System], [Screen Size(inch)], [CinemaID], [img]) VALUES (120, 45, 15, 5, 5, N'Bira+Cips Tabağı', N'Sub-woofer', CAST(599.7 AS Decimal(4, 1)), 1, N'doubleBed.jpg')
INSERT [vip].[Saloon] ([Room_id], [Capacity], [Double Bed], [Single Bed], [Vibrating Seat], [Snack], [Sound System], [Screen Size(inch)], [CinemaID], [img]) VALUES (210, 40, NULL, NULL, 40, N'İzmir Bomba', N'Magnat', CAST(400.0 AS Decimal(4, 1)), 2, N'VibratingSeats.jpg')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserInfo__66DCF95C8C64AC56]    Script Date: 13.12.2019 22:29:59 ******/
ALTER TABLE [reg].[UserInfo] ADD UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [reg].[Artist] ADD  DEFAULT ((5000)) FOR [salary]
GO
ALTER TABLE [reg].[Staff] ADD  DEFAULT ((2500)) FOR [salary]
GO
ALTER TABLE [cin].[ANKAmall]  WITH CHECK ADD FOREIGN KEY([movieID])
REFERENCES [reg].[Movies] ([id])
GO
ALTER TABLE [cin].[AquaFlorya]  WITH CHECK ADD FOREIGN KEY([movieID])
REFERENCES [reg].[Movies] ([id])
GO
ALTER TABLE [cin].[ForumBornova]  WITH CHECK ADD FOREIGN KEY([movieID])
REFERENCES [reg].[Movies] ([id])
GO
ALTER TABLE [reg].[Artist]  WITH CHECK ADD FOREIGN KEY([Movie])
REFERENCES [reg].[Movies] ([id])
GO
ALTER TABLE [reg].[Buffet]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [reg].[Cinemas] ([id])
GO
ALTER TABLE [reg].[Buffet]  WITH CHECK ADD FOREIGN KEY([managerNo])
REFERENCES [reg].[Staff] ([SSN])
GO
ALTER TABLE [reg].[CommentAndRate]  WITH CHECK ADD FOREIGN KEY([movieID])
REFERENCES [reg].[Movies] ([id])
GO
ALTER TABLE [reg].[CommentAndRate]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [reg].[UserInfo] ([userID])
GO
ALTER TABLE [reg].[Images]  WITH CHECK ADD FOREIGN KEY([Movie_id])
REFERENCES [reg].[Movies] ([id])
GO
ALTER TABLE [reg].[Movies]  WITH CHECK ADD FOREIGN KEY([Director])
REFERENCES [reg].[Director] ([ssn])
GO
ALTER TABLE [reg].[Saloon]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [reg].[Cinemas] ([id])
GO
ALTER TABLE [reg].[Staff]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [reg].[Cinemas] ([id])
GO
ALTER TABLE [reg].[UserFavMovie]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [reg].[Movies] ([id])
GO
ALTER TABLE [reg].[UserFavMovie]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [reg].[UserInfo] ([userID])
GO
ALTER TABLE [vip].[Saloon]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [reg].[Cinemas] ([id])
GO
ALTER TABLE [reg].[Artist]  WITH CHECK ADD CHECK  (([age]>(0)))
GO
ALTER TABLE [reg].[Staff]  WITH CHECK ADD CHECK  (([age]>(0)))
GO
/****** Object:  StoredProcedure [cin].[AddMovieSessionANKAmall]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [cin].[AddMovieSessionANKAmall] @movID int,@session time
as
insert into [cin].[ANKAmall]([movieID],[movieSession])
values(@movID,@session)
GO
/****** Object:  StoredProcedure [cin].[AddMovieSessionAquaFlorya]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [cin].[AddMovieSessionAquaFlorya] @movID int,@session time
as
insert into [cin].[AquaFlorya]([movieID],[movieSession])
values(@movID,@session)
GO
/****** Object:  StoredProcedure [cin].[AddMovieSessionForumBornova]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [cin].[AddMovieSessionForumBornova] @movID int,@session time
as
insert into [cin].[ForumBornova]([movieID],[movieSession])
values(@movID,@session)
GO
/****** Object:  StoredProcedure [cin].[RemoveMovieSessionANKAmall]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [cin].[RemoveMovieSessionANKAmall] @movie int,@session time
as
delete [cin].[ANKAmall]
where [movieID] = @movie and [movieSession] = @session
GO
/****** Object:  StoredProcedure [cin].[RemoveMovieSessionAquaFlorya]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [cin].[RemoveMovieSessionAquaFlorya] @movie int,@session time
as
delete [cin].[AquaFlorya]
where [movieID] = @movie and [movieSession] = @session
GO
/****** Object:  StoredProcedure [cin].[RemoveMovieSessionForumBornova]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [cin].[RemoveMovieSessionForumBornova] @movie int,@session time
as
delete [cin].[ForumBornova]
where [movieID] = @movie and [movieSession] = @session
GO
/****** Object:  StoredProcedure [reg].[AddCinema]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[AddCinema] @name nvarchar(25),
@city nvarchar(20), @add nvarchar(max)
as
insert into [reg].[Cinemas]([title],[city],[address_])
values(@name,@city,@add)
GO
/****** Object:  StoredProcedure [reg].[ArtistInfo]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[ArtistInfo] @fullname nvarchar(40)
as
select [FullName],[ssn],[age],[salary],M.[Movie] from [reg].[Artist] as A
inner join [reg].[MoviesAndArtists] as M
on A.Movie = M.MovieID
where ([firstName]+' '+[lastName]) = @fullname
GO
/****** Object:  StoredProcedure [reg].[ArtistsOfMovie]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[ArtistsOfMovie] @movie nvarchar(30)
as
select [FullName],[Movie] from [reg].[MoviesAndArtists]
where [Movie] = @movie
GO
/****** Object:  StoredProcedure [reg].[ChangeBuffetManager]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[ChangeBuffetManager] @bufNo int, @Manager decimal(5,0)
as
update [reg].[Buffet]
set [managerNo] = @Manager
where [buffetID] = @bufNo
GO
/****** Object:  StoredProcedure [reg].[ChangeRoomsSoundSystem]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[ChangeRoomsSoundSystem] @room int,@system nvarchar(20)
as
update [reg].[Saloon]
set [Sound System] = @system
where [Room_id] = @room
GO
/****** Object:  StoredProcedure [reg].[ChangeStaffBranch]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[ChangeStaffBranch] @fullname nvarchar(40),@cinema int
as
update [reg].[Staff]
set [CinemaID] = @cinema
where ([firstName]+' '+[lastName]) = @fullname
GO
/****** Object:  StoredProcedure [reg].[ChangeUserPassword]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[ChangeUserPassword] @username nvarchar(15),
@OLDpword nvarchar(20),@NEWpword nvarchar(20)
as
update [reg].[UserInfo]
set [passwd] = @NEWpword
where [passwd] = @OLDpword and [userName] = @username
GO
/****** Object:  StoredProcedure [reg].[MovieDirector]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[MovieDirector] @movie nvarchar(30)
as
select * from [reg].[DirectorAndMovie]
where [Movie] = @movie
GO
/****** Object:  StoredProcedure [reg].[MoviesOfArtist]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[MoviesOfArtist] @artist nvarchar(40)
as
select [title] as Movie,[firstName],[lastName]
from [reg].[Artist] as A
inner join [reg].[Movies] as M
on M.id = A.Movie
where ([firstName]+' '+[lastName]) = @artist
GO
/****** Object:  StoredProcedure [reg].[RemoveCinema]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[RemoveCinema] @name nvarchar(25)
as
delete [reg].[Cinemas]
where [title]= @name
GO
/****** Object:  StoredProcedure [reg].[RemoveStaff]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[RemoveStaff] @fname nvarchar(20),
@lName nvarchar(20)
as
delete [reg].[Staff]
where [firstName] = @fname and [lastName] = @lName
GO
/****** Object:  StoredProcedure [reg].[StaffInfo]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[StaffInfo] @fname nvarchar(20),
@lName nvarchar(20)
as
select * from [reg].[Staff]
where [firstName] = @fname and [lastName] = @lName
GO
/****** Object:  StoredProcedure [reg].[UpdateStaffSalary]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[UpdateStaffSalary] @fullname nvarchar(40),
@newSalary decimal(6,2)
as 
update [reg].[Staff]
set [salary] = @newSalary
where ([firstName] +' '+[lastName]) = @fullname
GO
/****** Object:  StoredProcedure [reg].[UpdateUserPhoneNumber]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[UpdateUserPhoneNumber]
@NewPhone decimal(10,0),@FullName NVARCHAR(50)
as
update [reg].[UserInfo]
set [phoneNumber] = @NewPhone
where [realName&Surname] = @FullName
GO
/****** Object:  StoredProcedure [reg].[UserCommentsAndRates]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[UserCommentsAndRates] @fullname nvarchar(50)
as
select * from [reg].[UsersCommentsAndRates]
where FullName = @fullname
GO
/****** Object:  StoredProcedure [reg].[UserInformation]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [reg].[UserInformation] @fullName as nvarchar(50) 
as 
select * from [reg].[UserInfo]
where [realName&Surname] = @fullName
GO
/****** Object:  StoredProcedure [reg].[UsersFavMovies]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [reg].[UsersFavMovies] @fullName as nvarchar(50)
as
select * from [reg].[UserAndFavMovie]
where FullName = @fullName
GO
/****** Object:  StoredProcedure [vip].[ChangeRoomsSoundSystem]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [vip].[ChangeRoomsSoundSystem] @room int,@system nvarchar(20)
as
update [vip].[Saloon]
set [Sound System] = @system
where [Room_id] = @room
GO
/****** Object:  StoredProcedure [vip].[ChangeSnackOfRoom]    Script Date: 13.12.2019 22:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [vip].[ChangeSnackOfRoom] @room int,@snack nvarchar(25)
as
update [vip].[Saloon]
set [Snack] = @snack
where [Room_id] = @room
GO
USE [master]
GO
